@import "ui-variables";

.jensaarai {
}

atom-text-editor.editor .line {
  transition:  background-color .8s ease-out;
  -webkit-transition: background-color .8s ease-out;

  &.line-error {
    background-color: fadeout(@background-color-error, 95%);
    border: 1px solid fadeout(@background-color-error, 50%);
  }

  &.line-highlight {
    background-color: @background-color-highlight;
  }

  &.eval-flash {
    color: @text-color-selected;
    background-color: @background-color-selected;
  }

  &.eval-success {
    color: @text-color-success;
    background-color: fadeout(@background-color-success, 50%);
  }

  &.eval-error,
  &.eval-syntax-error {
    color: @text-color-error;
    background-color: @background-color-error;
  }
}

atom-pane div.tidalcycles.console {
  &.hidden{
    display: none;
  }
  padding: 3px 10px;
  overflow: scroll;
  pre {
    font-family: Consolas, monospace;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: keep-all;
  }
  .error{
    color: @text-color-error;
  }
}

atom-pane div.touchdesigner.console {
  &.hidden{
    display: none;
  }
  padding: 3px 10px;
  overflow: scroll;
  pre {
    font-family: Consolas, monospace;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: keep-all;
  }
  .error{
    color: @text-color-error;
  }
}
